
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

td{
	padding: 0px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	cursor: pointer;
}

p{
	margin: 0px;
}

button{
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: #fff;

}


body {
	background-color: #e5e5e5;
	margin: 0;
	position: relative;
}


header{
	background-color: #f1f1f1;
	height: 60px;
	width: 100%;
	position: relative;
	top: 0;
	min-width: 800px;

}

#home_mark{
	width: 200px;
	height: 42px;
	padding: 9px 25px;
}

div.home_mark{
	position: absolute;
	left:0;
}

div.search{
	height: 30px;
	left: 250px;
	right: 350px;
	top: 15px;
	width: auto;
	min-width: 250px;
	position: absolute;
}

.search .search_2{
	height: 30px;
	right: 60px;
	left:0;
	position: absolute;
}


input.top_search{

	font-size: 18px;
	border: 1px solid  rgba(0, 0, 0, 0.298039);
	position: absolute;
	left: 0;
	height: 30px;
	width: 100%;

}


#search_button_box{
	height: 30px;
	width: 60px;
	background-color: #4387fd;
	float: right;
}

#search_button{
	margin-left: 15px;
	height: 30px;
	width: 30px;
	background-image: url(https://ssl.gstatic.com/gb/images/v1_2e543709.png);
	background-position: -69px -349px;
	background-size: 112px 1828px;
}



div.Google_services{
	position: absolute;
	right: 0;
	height: 60px;
	width: 20%;
	min-width: 270px;
	top: 0;
	min-width: 270px;
}





#G_service_1{
	float: left;
	font-size: 13px;
	text-align: center;
	line-height: 60px;
}

#G_service_2{
	height: 30px;
	width: 30px;
	background-position: -51px -452px;
	background-size: 112px 1828px;
	background-image: url(https://ssl.gstatic.com/gb/images/v1_2e543709.png);
	float: left;
	margin: 15px 7px;
}



#G_service_3{
	background-image: url(https://ssl.gstatic.com/gb/images/v1_2e543709.png);
	background-position: 0px -69px;
	background-size: 112px 1828px;
	height: 30px;
	width: 30px;
	float: left;
	margin: 15px 7px;
}

#G_service_4{
	height: 30px;
	width: 60px;
	float: left;
	margin: 15px 7px;
	background-color: rgba(0,0,0,.04);
	text-align: center;
	line-height: 30px;
}

#G_service_4 > #share{
	font-size: 13px;
	display: inline;
}

#G_service_5{
	background-image: url(https://lh5.googleusercontent.com/-8zeWbWqzCII/AAAAAAAAAAI/AAAAAAAAAAA/2h6_t0z4oZs/s32-c/photo.jpg);
	background-size: 32px 32px;
	border-radius: 50%;
	margin: -1px;
	height: 32px;
	width: 32px;
	float: left;
	margin: 15px 7px;
}


.wrapper_with_footer{
	position: relative;
	height: 100%;
}

.navi{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.navi_books{
	display: inline-block;
	height: 240px;
	width: 200px;
	background-color: rgba(245, 245, 245, 0.952941);
	position: absolute;
	top: 0;
	z-index: 100;
	box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}


.nav_icon{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA40lEQVQoz+2RTRGDMBhEIyESKgEJSEACEioBB5GABCQgIRKQgITXQzc0QNIwbbl02Jlw+H72JYsBjDHGAB0w64zAADSmIKDW7Bjtd+o9P8AEtMBNg7GmsLAxbtSLNcjjLtACCPK6UaOBWCNgZd5verN2ankE7QBBTjcZEpAuc2uX8MkCQjS1nusTfa9Y60RUhwDxa2zmB7vC7iEAMivWLsAFuAD/DnAnANwC0HADzD8AzECr/gugQgX4LwAeqCK/NUBFC/QfAHrAbrz2gKjZhsgKgCWShEceEEf2BrCKJAs48zwAsmsx4ZbVwpEAAAAASUVORK5CYII=);
	height: 24px;
	margin: 0px 0 0 28px;
	width: 24px;
	position: absolute;
	top: 12px;
	left: 10px;
}

nav.navi_books .current_menu{
	background-color: rgb(26, 161, 225);
	width: 100%;
	height: 48px;
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
}

.navi_books .current_menu{
	text-align: center;
	line-height: 48px;
	color: rgb(255, 255, 255);
	font-size: 18px;
}

nav.navi_books .navi_arrow {
	background-color: #fff;
	width: 24px;
	height: 240px;
	position: absolute;
	top: 0px;
	left: 0;

}

.nav_arrow_img{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVQ4y2P4//8/Ay0xw6gFg98CbKCjo8MAiA8AcQHVLYAa/gGI/4MsoaoFaIaDaAOqWYBmOAgHgMSpYgEWwxNgFlNsAT7DqWXBBVyGDxkLaBtENI9kPMk0gaoW0Dyj0aWowFLYNYzWB6MWMAAAq1H3+Mhu2hQAAAAASUVORK5CYII=);
	height: 24px;
	width: 24px;
	position: absolute;
	top: 132px;
}

.navi_books ul{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 53px;
	left: ;
}

.navi_books ul > li{
	padding-bottom: 8px;
	padding-top: 8px;
	position: relative;
	margin-left: 24px;

	font-size: 18px;
	line-height: 20px;

}

.mine, .shopping{
	padding: 8px 12px 8px 23px;


}

.mine:hover, .shopping:hover{
	background-color: #e5e5e5;
}

.shopping > a{
	color: #1380b5;
}



.action_bar{
	clear: both;
	background: #fff;
	height: 48px;
	font-size: 14px;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	color: #737373;
	z-index: 1;
	min-width: 750px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);

}

.action_bar > div:hover:not(#a_bar_item_5){
	background-color: #f1f1f1;
}




.action_bar >div{
	padding: 0px 14px;
	text-align: center;
	line-height: 48px;
}


#a_bar_spacer{
	margin: 5px;
	width: 1px;
	background: #d6d6d6;
	float: left;
	display: inline-block;
	height: 64%;
	padding: 0;
}



#a_bar_item_1 {
	float: left;
	margin-left: 220px;
	width: 48px;
	z-index: 10;

}

#a_bar_item_2 {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #1aa1e1;
	font-weight: 500;
	height: 45px;
	float: left;
}



#a_bar_item_3 {
	float: left;
}

#a_bar_item_4 {
	float: left;
}

#a_bar_item_5 {
	position: absolute;
	right: 30px;
	padding: 10px 14px;
}

#help{
	display: inline-block;
	height: 21px;
	margin: 4px 3px 7px 5px;
	width: 21px;
	background-size: contain;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAwUlEQVQ4y9WU6w3DIAyEGcEjZIQOwBAdgdEyikfoAAyRDVwTgZQQPyDKj/akkyIEn2zOIRBReNrh/6GsxEY2dS5raQrKWtgfAda77FlcKOvF3gaAzZsE7qGnCgGAEJGayndZ6ytWofUOTweOwCNYqDhp0EsoTTHG3U1SeBrUvD8HShdoTVwFDrQvQmEEqgQlQ732rbY9KE7M53BQSTuUc95tQNWRgptQc/jfN9q2f1PWOgn0H5Qa1Forhkefvp99+b/H6ZOyGDEoawAAAABJRU5ErkJggg==);
	background-position-y: center;
}

#setting{
	background-size: contain;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA3klEQVQ4y2NgGE4gEYj/I+FEahg6D83QuaQawATEqkDMCOVbA/FdNEPvALEVVJ4Rqp4Jn6HZUI3XgHgNEP9DMxCG/0Hlr0H52bgMFALiN3gMeYLHkjdQ/RigDovi30DcgaRBGIg7gfgPFrV12AzVhYYXssI2HL7qwBLOuriCgA+IPyF5WQCHOl4g/gFV9xGqDy/4BVX8jIC6B1B1PwkZSHWX0iRM6/HEPi+SC3HFfi2udPoWRzr8As1ZX/CkU0FcQZBDYo66DuVn0T3vYwNz0AydTY2iLxXN0NThU1UAAJ7AjlNiNxjgAAAAAElFTkSuQmCC);
	height: 21px;
	margin-top: 4px;
	width: 21px;
}

#button_setting{
	padding: 0 14px;
}

#button_help{

}

.play_button{
	float: right;
	border: 1px solid rgba(0,0,0,0.17);
	margin: 0px 10px;
	height: 30px;
	background-color: #fff;
	border-radius: 2px;
}

div.body_contents{
	position: absolute;
	top: 80px;
	left: 250px;
	width: auto;
}


div.cluster{
	clear: both;
	position: relative;
	width: 100%;
	margin: 5px 0 35px 0;
}

h1.cluster_heading{
	position: relative;
	margin: 0 5px 0 5px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 28px;
	color: #333;
	text-align: left;
	text-decoration: none;
	min-width: 670px;

}

div.see_more{
	background-color: rgb(26, 161, 225);
	padding: 0px 13px;
	height: 30px;
	width: 42px;
	position: absolute;
	right: 0;
	bottom: 12px;
	text-align: center;
	line-height: 30px;
	border-radius: 2px;

}

div.see_more:hover{
	background-color: #1bb5ff;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}

a.see_more{
	font-size: 13px;
	color: rgb(255, 255, 255);
}

p.subtitle{
	clear: both;
	font-size: 16px;
	color: #555;
	padding-bottom: 14px;
	min-width: 670px;
}

.card{
	position: relative;
	height: 330px;
	width: 160px;
	margin: 5px;
	float: left;
	background: #fff;
}

.card a:hover{
	text-decoration: underline;
}

img.cover {
	width: 100%;
}

table.cover {
	height: 245px;
	width: 100%;
	background-color: #f5f5f5;
	position: relative;
	border-spacing: 0px;
}

.overlay{
	tansition: all .25s ease;
	display: none;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 2px;
}

table.cover:hover .overlay{
	display: inline-block;
}

.cover_cell{
	vertical-align: middle;
}

.card_list{
	overflow: hidden;
	max-height: 330px;
}

.description{
	padding: 4px 10px 0px 10px;
}

.book_title{
	font-size: 16px;
}

.description .subtitle{
	font-size: 13px;
	color: #aaa;
	float: left;
}

.price a{
	color: #1aa1e1;	
	font-size: 13px;
	position: absolute;
	right: 5px;
	bottom: 10px;
}

.footer {

	color: #8d8d8d;
	font-size: 13px;
	font-family: "Roboto",Arial,sans-serif;
	line-height: 1.4;
	font-weight: 400;
}

.footer a{
	color: #8d8d8d;
}

.footer_links{
	padding: 28px 5px;
}

.footer_links > a{
	margin-left: 15px;
}

.footer_links > a:hover{
	text-decoration: underline;
}

.footer_sub  a:hover{
	text-decoration: underline;
}